<%- include("partials/header"); -%>



    <div class="small-text">
        <p>
            Download your ID Card from <a href="/fileDownload">here.</a>
        </p>
    </div>

    <%- include("partials/footer"); -%>